*{
    background-color: black;
    margin: 0;
    padding:0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}




#droppable-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

#draggable-container {
display: flex;
flex-direction: column;
align-items: flex-start;
overflow:hidden;
margin-left: 20px;
}

.text1{
    margin-bottom: 30px;
    height: 60px;
}

.text2{
    height: 80px;
}

#drag
 {
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .drag-information {
     height: 20px;
     margin-bottom: 20px;
    width: 30%;
 }

 .drag-arrow {

 }

#vaso {
    width: 70%;
}

.overlay {
    width: 20%;
    background: transparent;
    position: absolute;
    animation-delay: 1s;
    cursor: pointer;
}

.overlay_txt {

    opacity: 1;
    width: 60%;
    padding-top: 100px;
}


.overlay_txt_menta{
    opacity: 0;
    align-items: flex-end;
    width: 60%;
    padding-top: 100px;
    margin-left: 20px;
}



@keyframes showLima{
    0%{
      
        width: 30%;
    }

    100%{
        transform: translate(200px,-30px);
        background: transparent;
        opacity: 0;
    }
}

.overlay-jugo {
    width: 30%;
    position: absolute;
    opacity: 0;
}

.overlay_menta {
    width: 20%;
    background: transparent;
    position: absolute;
    opacity: 0;
    animation-delay: 3s;

}

.overlay_menta_txt{
    opacity: 0;
    align-items: flex-end;
    width: 60%;
    padding-top: 100px;
}

@keyframes showMenta{
    0%{
        opacity: 1;

    }

    100%{
        transform: translate(200px,-30px);
        background: transparent;
    }
}

.overlay-hojas-menta {
    width: 30%;
    position: absolute;
    opacity: 0;  
}

.overlay_bacardi {
    width: 10%;
    background: transparent;
    position: absolute;
    opacity: 0;
    animation-delay: 5s;
}

.overlay_txt_bacardi{
    opacity: 0;
    align-items: flex-end;
    width: 30%;
    margin-left: 20px;
}
.overlay-botella-bacardi {
    width: 30%;
    position: absolute;
    opacity: 0;  
}

@keyframes showBacardi{
    0%{
        opacity: 1;

    }
    100%{
        transform: translate(200px);
        background: transparent;
    }
}

.overlay_hielo {
    width: 20%;
    background: transparent;
    position: absolute;
    opacity: 0;
    animation-delay: 7s;
}
.overlay_txt_ice{
    opacity: 0;
    align-items: flex-end;
    width: 60%;
    margin-left: 20px;
}

.overlay-hielo-picado{
    width: 30%;
    position: absolute;
    opacity: 0;  
}

@keyframes showHielo{
    0%{
        opacity: 1;

    }
    100%{
        transform: translate(200px, -20px);
        background: transparent;
    }
}

.overlay_soda {
    width: 16%;
    background: transparent;
    position: absolute;
    opacity: 0;
    animation-delay: 10s;
    transform: translate(200px, 0);
}
.overlay_txt_soda{
    opacity: 0;
    align-items: flex-end;
    width: 30%;
    padding-top: -50px;
    margin-left: 20px;
}

.overlay-soda{
    width: 30%;
    position: absolute;
    opacity: 0;  
    
}

@keyframes showSoda{
    0%{
        

    }
    100%{
        transform: translate(200px, -20px);
        background: transparent;
        opacity: 0;
    }

}

.overlay-congrats{
    display: flex;
    width: 80%;
    opacity: 0;
    margin-top: -40px;
}


.overlay-coctel-final{
    display: flex;
    align-items: center;
    width: 40%;
    position: absolute;
    opacity: 0;  


}

#button{
    justify-content: center;
    opacity: 0;
    margin-right: 20px;
    color: floralwhite;
    font-size: 8px;
    border: 1px solid floralwhite;
    padding: 10px;
    width: 160px;

}














